<!DOCTYPE html>
<html lang="en">
<head>
  <title>RPI WEB INTERFACE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('bp_web.static', filename='css/index.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4>RPI WEB INTERFACE</h4>
        </div>
   
        <ul class="list-unstyled CTAs">
          <li><a type="button" data-toggle="modal" data-target="#myModal">Load recipe</a></li>
          {% if current_user.role == 'admin' %}<li><a type="button">Create recipe</a></li>{% endif %}
        </ul>

        <ul id="ul_picklist" class="list-unstyled components">
          <p>RECIPE - PICKLIST</p>
        </ul> 
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <div class="col-sm-10">
        {% for list in picklist %}
        <div class="row">
          <div class="col-sm-2">
          </div>
        {% for item in list%}
          <div class="col-sm-2">
            <div id="pick_{{item.id}}"  class="well text-center pick">
              <h4>{{item.number}}</h4>
            </div>
          </div>
        {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    
    {% include 'web/create_modal.html' %}
</div>

<script>
  $(document).ready(function(){
    $(".pick").click(function(){

      var _pick_id = $(this).attr('id').slice(5);
      var _url = '/api/v1.0/control-led/' + _pick_id;
      $(this).css('background-color',"limegreen");
      $.ajax({
        url: _url,
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify({'state': 1}),
        async: false,
        contentType: "application/json; charset=utf-8",
        success: function(data){
        }
      });
    });

    setInterval(
      function(){
        $.getJSON('/api/v1.0/leds',function(data) {                                                
          for(i=0; i < data.leds.length; ++i){
            var _pick_div = "#pick_" + data.leds[i].id;
            if (data.leds[i].status == true){
              $(_pick_div).css('background-color',"limegreen");
            }else{
              $(_pick_div).css('background-color',"red");
            }
          }
        });
      },
    1000);

    $("#btn_confirm").click(function(){
      // Reloading elements
      back_to_default_div_color();
      $("#ul_picklist").empty();

      // Getting variables
      var _recipe_id = $("#select_recipe").val();
      var _url = '/api/v1.0/recipes/' + _recipe_id;

      // Add new element in GUI
      var _il = `<p>RECIPE - PICKLIST</p><li class="active">`

      
      $.ajax({
        url: _url,
        type: 'GET',
        dataType: 'json',
        async: false,
        contentType: "application/json; charset=utf-8",
        success: function(data){
          _il += `<a>${data.name}</a><ul class="list-unstyled collapse show" id="homeSubmenu">`;

          for (i=0; i < data.picklist.length; ++i){
            var _pick_div = "#pick_" + data.picklist[i]['id'];
            $(_pick_div).css('background-color',"lightblue");

            _il += `<li><a>${data.picklist[i]['number']}</a></li>`;
          }
          
        }
      });

      _il += "</ul></li>";
      $("#ul_picklist").append(_il);

    });

    function back_to_default_div_color(){
      for(i=0; i < 28; ++i){
        var _pick_div = "#pick_" + i;
            $(_pick_div).css('background-color',"#f5f5f5");
      }
    }
  });
</script>
</body>
</html>
